* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15%;
  border-bottom: 1px solid #000;
  z-index: 10;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 12px 20px;
  font-weight: 500;
  cursor: pointer;
}

nav .logo {
  width: 210px;
  cursor: pointer;
}

.nav-btn {
  background: #000;
  color: rgb(221, 195, 164);
  font-size: 16px;
  padding: 15px 25px;
  border: 0;
  outline: 0;
  border-radius: 50px;
  cursor: pointer;
}

.nav-btn img {
  width: 15px;
  margin-left: 7px;
}
